## Zygo Lab GUI / IDS Camera
# Documentation :  https://iogs-lense-ressources.github.io/camera-gui/contents/applis/appli_Zygo_labwork.html

## IDS Camera
# IDS peak (2.8 or higher) and IDS Sofware Suite (4.95 or higher) softwares are required on your computer.
# IDS peak IPL (Image Processing Library) and Numpy are required.

## Basler Camera
# pylon Viewer software must be installed (including Basler cameras drivers).
# pypylon API is required.

## Python requirements
numpy
matplotlib
pyqt6
# nidaqmx
pydaqmx
pypylon


# -------------------------
Package             Version
------------------- -----------
asttokens           2.4.1
colorama            0.4.6
comm                0.2.2
contourpy           1.2.1
cycler              0.12.1
debugpy             1.8.1
decorator           5.1.1
deprecation         2.1.0
executing           2.0.1
fonttools           4.53.0
hightime            0.2.2
ids_peak            1.7.2.0
ids_peak_ipl        1.10.0.0
ipykernel           6.29.4
ipython             8.25.0
jedi                0.19.1
jupyter_client      8.6.2
jupyter_core        5.7.2
kiwisolver          1.4.5
lensecam            0.1.1
lensepy             0.0.10
matplotlib          3.9.0
matplotlib-inline   0.1.7
nest-asyncio        1.6.0
nidaqmx             0.9.0
numpy               1.26.4
opencv-python       4.10.0.82
packaging           24.0
parso               0.8.4
pillow              10.3.0
pip                 24.0
platformdirs        4.2.2
prompt_toolkit      3.0.47
psutil              5.9.8
pure-eval           0.2.2
Pygments            2.18.0
PyOpenGL            3.1.7
PyOpenGL-accelerate 3.1.7
pyparsing           3.1.2
pypylon             3.0.1
PyQt6               6.7.0
PyQt6-Qt6           6.7.1
PyQt6-sip           13.6.0
pyqtgraph           0.13.7
python-dateutil     2.9.0.post0
pywin32             306
pyzmq               26.0.3
scipy               1.13.1
setuptools          65.5.0
six                 1.16.0
stack-data          0.6.3
tornado             6.4.1
traitlets           5.14.3
typing_extensions   4.12.2
wcwidth             0.2.13